{{ form_start(form) }}
<td class="input-table">{{ form_widget(form.libelle) }}</td>
<td class="input-table">{{ form_widget(form.valeur) }}</td>
<td class="input-table">{{ form_widget(form.valeurLabel) }}</td>
<td><button class="btn-gradient-green" type="submit" value=""><i class="fa-solid fa-plus"></i></button></td>
{{ form_end(form) }}

