<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <!-- Favicon-->
    <!-- Font Awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/navbar.css') }}" rel="stylesheet"/>
    <!-- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <div class="navbar navbar-expand-sm navbar-light navbar-sortir mb-4">
        <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_association_index') }}">
                    <img class="" src="{{ asset('images/logo-sse.png') }}" alt=""/>
                    <i><strong class="titre">Gestion Associations</strong></i>
                </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if app.user %}
                <ul class="navbar-nav me-auto">
                    <li class="nav-item active">
                        <a class="nav-link " id="navlink" href="{{ path('app_association_index') }}">Associations</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link " id="navlink" href="{{ path('app_subvention_index') }}">Subventions</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link " id="navlink" href="{{ path('app_ticket_index') }}">Tickets</a>
                    </li>
{#                    <li class="nav-item active">#}
{#                        <a class="nav-link " id="navlink" href="{{ path('creneau') }}">Crénaux Salles</a>#}
{#                    </li>#}
                    {% if app.user.granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" id="navlink" href="{{ path('app_register') }}">Gestion Utilisateurs</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" id="navlink" href="{{ path('app_logout') }}">Se Deconnecter</a>
                    </li>
                </ul>
                {% if app.user.granted('ROLE_ADMIN') %}
                    <span class="badge bg-danger">Admin</span>
                {% else %}
                    <span class="badge bg-success">User</span>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% block header %}
    {% endblock %}
</head>

<body>
<div id="main">
{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

{% block body %}
{% endblock %}

{#<footer>#}
{#    <div id="footer-copyright">#}
{#        <a href="">© {{ "now" | date("Y") }} SSE-Association</a>#}
{#    </div>#}
{#</footer>#}
</div>
</body>

{% block javascripts %}
{% endblock %}

</html>
